@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  background-color: black;
  color: white;
  height: 125px;
  position: absolute;
  bottom: 0;
}
footer a { color: white; }

/* #timer .btn { display: block; } */

.countdown-timer {
  width: 52px;
  height: 52px;
  background-color: black;
}

.countdown-timer-circle circle {
  stroke-dasharray: 151px;
  stroke-dashoffset: 151px;
  stroke-linecap: butt;
  stroke-width: 4px;
  stroke: #fd4f57;
  fill: none;
}

.countdown-timer-circle svg {
  width: 52px;
  height: 52px;
  transform: rotateZ(-90deg);
}

@keyframes countdown-animation {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 151px;
  }
}
